{% extends 'catalog/home.html' %}
{% load my_tags %}
{% block content %}
<div class="container">
    <div class="row text-center">
        {% if user.is_authenticated %}
        <a class="p-2 btn btn-outline-primary" href="{% url 'catalog:product_create' %}">Создать продукт</a>
        {% endif %}
        <div class="pb-4"></div>
        {% for product in object_list %}
        <div class="col-4">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">{{ product.name }}</h4>
                </div>
                <div class="card-body">
                    <p class="text-start">{{ product.description | slice:100 }}</p>
                    <img class="card-img-top" src="{{ product.photo | media_filter }}" width="300" height="200">
                    <h1 class="card-title pricing-card-title"></h1>
                    <div class="btn-group">
                        <a class="btn btn-sm btn-outline-secondary" href="{% url 'catalog:product_detail' product.pk %}"
                           role="button">Подробно</a>
                        {% if perms.catalog.can_edit_description and perms.catalog.can_edit_category and perms.catalog.can_edit_is_publication or user == product.creator%}
                        <a class="btn btn-sm btn-outline-secondary" href="{% url 'catalog:product_edit' product.pk %}"
                           role="button">Изменить</a>
                        <a class="btn btn-sm btn-outline-danger" href="{% url 'catalog:product_delete' product.pk %}"
                           role="button">Удалить</a>
                        {% endif %}
                    </div>
                </div>
                <p class="card-footer"> Актуальная версия продукта: {{ product.active_version }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}